<p>Team Name:<%=  @team.name %></p>
<p>Wins: <%= @team.wins %></p>
<p>Losses: <%= @team.losses %></p>

<a href="/teams/<%= @team.id %>/edit">Edit Team</a>

<a href="/teams/<%= @team.id %>/delete">Delete Team</a>
